body {
	background: url('./assets/background.jpg');
	background-size: cover;
	background-attachment: fixed;
}

.overlay {
	position: absolute;
	inset: 0;
	background:rgba(0,0,0,0.3);
}

.page-content {

}